{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
  <body onload="prettyPrint()">

    <div class="wrap">

      <header>
        <div class="title">{{ site.title }}</div>

        <div class="navi">
          {% include custom/navigation.html %}
        </div> <!-- // .navi -->
      </header>

        {{ content | expand_urls: root_url }}

      <footer>
        {% include custom/footer.html %}
      </footer>

    </div> <!-- // .wrap -->
  </body>
  <script>
    $(document).ready(function() {
      // Make images center
      $('p:has(img)').css('text-align', 'center');

      // Add the image's title attribute as a caption
      $('p:has(img)').append(function () {
        return '<div class="caption">' + $('img', this).attr('title') + '</div>';
      });

      // Prettify code
      $('code').addClass('prettyprint');
      $('pre code').addClass('linenums');

      // Copy to clipboard with button
      $('pre:has(code)').prepend(function(){
        return '<div class="clip-btn">copy to clipboard</div>';
      });
      $('.clip-btn').zclip({
        path:'{{ root_url }}/javascripts/libs/ZeroClipboard.swf',
        copy: $(this).next('code').text(),
        afterCopy: function(){
          $(this).replaceWith('<div class="clip-btn">copied!');
          }
      });
    });
  </script>
</html>
<!-- END OF _layouts/default.html -->
