<!-- START OF _includes/article.html -->
<article>
  {% unless page.no_header %}
    <header>
      <h1><a href="{{ root_url }}{{ page.url }}">{% if site.titlecase %}{{ page.title | titlecase}}{% else %}{{ page.title }}{% endif %}</a></h1>
      {% unless page.meta == false %}
        <time>{{ page.date | date: "%d %B %Y" }}</time>
        {% if page.external-url %}<a href="{{ page.external-url }}"><i class="foundicon-compass"></i></a>{% endif %}
      {% endunless %}
    </header>
  {% endunless %}
  {% if index %}
    <div class="content">{{ content | excerpt }}</div>
    {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
    {% if excerpted == 'true' %}
      <footer>
        <a rel="full-article" href="{{ root_url }}{{ page.url }}">{{ site.excerpt_link }}</a>
      </footer>
    {% endif %}
  {% else %}
    <div class="content">{{ content }}</div>
    {% if page.source.url %}
      <footer>
        via <a href="{{ page.source.url }}">{{ page.source.title }}</a>
      </footer>
    {% endif %}
  {% endif %}
</article>
<!-- END OF _includes/article.html -->
